.Timer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.Timer-clock {
  color: #eee;
  font-family: "Space Mono", monospace;
  font-size: 28vw;
}

.Timer-clock-colon {
  margin: 0 -2vw;
  opacity: 0.8;
}
