.Timer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Timer-clock {
  align-items: center;
  color: var(--lightGray);
  display: flex;
  flex-grow: 1;
  font-family: "Space Mono", monospace;
  font-size: 12rem;
  overflow: hidden;
  max-height: 11rem;
}

.Timer-clock-colon {
  margin: 0 -1rem;
}

.Timer-progressWrapper {
  bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
  height: 0.5rem;
  left: 0;
  position: absolute;
  right: 0;
}
